
    <!-- 底部
    ================================================== -->
    <footer id="footer">
	  <div id="Copyright">
	    <p>© 2009-2015 李炫进博客 www.lixuanjin.com</p>
	    <p><a href="javascript:void(0)" rel="nofollow">
	      鲁ICP备12345678号      </a>
	      <script type="text/javascript">var cnzz_protocol = (("https:" == document.location.protocol) ? " https://" : " http://");document.write(unescape("%3Cspan id='cnzz_stat_icon_4697232'%3E%3C/span%3E%3Cscript src='" + cnzz_protocol + "s6.cnzz.com/stat.php%3Fid%3D4697232' type='text/javascript'%3E%3C/script%3E"));</script>    </p>
	  </div>
	</footer>
	<script type="text/javascript">
		var duoshuoQuery={short_name:"moyublog"};(function(){var ds=document.createElement('script');ds.type='text/javascript';ds.async=true;ds.src='../static.duoshuo.com/embed.js'/*tpa=http://static.duoshuo.com/embed.js*/;ds.charset='UTF-8';(document.getElementsByTagName('head')[0]||document.getElementsByTagName('body')[0]).appendChild(ds)})();</script><i class="fa fa-moon-o"></i><script>$(document).ready(function(){$(".fa-moon-o").click(function(){$("body").toggleClass("moon");$(".fa-moon-o").toggleClass("fa-sun-o");})});</script>

<include file="Public/var"/>
<block name="script"></block> <!-- 用于加载js代码 -->
<!-- 页面footer钩子，一般用于加载插件JS文件和JS代码 -->
{:hook('pageFooter', 'widget')}
<div class="hidden"><!-- 用于加载统计代码等隐藏元素 -->
	<block name="hidden"></block>
</div>
