<extend name="Public/base" />

<!-- 子导航 -->
<block name="sidebar">
    <include file="sidemenu" />
</block>

<block name="body">
	<script type="text/javascript" src="__STATIC__/uploadify/jquery.uploadify.min.js"></script>
	<div class="main-title cf">
		<h2>
			
			<volist name="rightNav" id="nav">
			<a href="{:U('article/index','cate_id='.$nav['id'])}">{$nav.title}</a>
			<if condition="count($rightNav) gt $i"><i class="ca"></i></if>
			</volist>
			<present name="article">：<a href="{:U('article/index','cate_id='.$data['category_id'].'&pid='.$article['id'])}">{$article.title}</a></present>
			
		</h2>
	</div>
	<!-- 标签页导航 -->
<div class="tab-wrap">
	<div class="tab-content">
	<!-- 表单 -->
	<form id="form" action="{:U('page')}" method="post" class="form-horizontal">
		<!-- 基础文档模型 -->
		<div class="form-item cf">
        	<label class="item-label">标题<span class="check-tips">（文档标题）</span></label>
           <div class="controls"><input type="text" class="text input-large" name="title" value="{$p.title}"></div>
        </div>
        <div class="form-item cf">
            <label class="item-label">关键词<span class="check-tips">(多个关键字需要空格隔开)</span></label>
            <div class="controls">
                <input type="text" class="text input-large" name="keywords" value="{$p.keywords}">
            </div>
        </div>
        <div class="form-item cf">
            <label class="item-label">描述<span class="check-tips">(描述信息字数不能超过120个字)</span></label>
            <div class="controls">
                <label class="textarea input-large">
                	<textarea name="description">{$p.description}</textarea>
            	</label>
            </div>
        </div>    
        <div class="form-item cf">
            <label class="item-label">内容<span class="check-tips"></span></label>
            <div class="controls">
            	<label class="textarea">
                	<textarea name="content">{$p.content}</textarea>
                    {:hook('adminArticleEdit', array('name'=>'content','value'=>$p['content']))}
                </label>
            </div>
        </div>
         

		<div class="form-item cf">
			<button class="btn submit-btn ajax-post hidden" id="submit" type="submit" target-form="form-horizontal">保 存</button>

			<input type="hidden" name="catid" value="{$p.catid}"/>

		</div>
	</form>
	</div>
</div>
</block>

<block name="script">
<link href="__STATIC__/datetimepicker/css/datetimepicker.css" rel="stylesheet" type="text/css">
<php>if(C('COLOR_STYLE')=='blue_color') echo '<link href="__STATIC__/datetimepicker/css/datetimepicker_blue.css" rel="stylesheet" type="text/css">';</php>
<link href="__STATIC__/datetimepicker/css/dropdown.css" rel="stylesheet" type="text/css">
<script type="text/javascript" src="__STATIC__/datetimepicker/js/bootstrap-datetimepicker.min.js"></script>
<script type="text/javascript" src="__STATIC__/datetimepicker/js/locales/bootstrap-datetimepicker.zh-CN.js" charset="UTF-8"></script>
<script type="text/javascript">



$('#submit').click(function(){
	$('#form').submit();
});

$(function(){
    $('.time').datetimepicker({
        format: 'yyyy-mm-dd hh:ii',
        language:"zh-CN",
        minView:2,
        autoclose:true
    });
    showTab();

	<if condition="C('OPEN_DRAFTBOX') and (ACTION_NAME eq 'add' or $data['status'] eq 3)">
	//保存草稿
	var interval;
	$('#autoSave').click(function(){
        var target_form = $(this).attr('target-form');
        var target = $(this).attr('url')
        var form = $('.'+target_form);
        var query = form.serialize();
        var that = this;

        $(that).addClass('disabled').attr('autocomplete','off').prop('disabled',true);
        $.post(target,query).success(function(data){
            if (data.status==1) {
                updateAlert(data.info ,'alert-success');
                $('input[name=id]').val(data.data.id);
            }else{
                updateAlert(data.info);
            }
            setTimeout(function(){
                $('#top-alert').find('button').click();
                $(that).removeClass('disabled').prop('disabled',false);
            },1500);
        })

        //重新开始定时器
        clearInterval(interval);
        autoSaveDraft();
        return false;
    });

	//Ctrl+S保存草稿
	$('body').keydown(function(e){
		if(e.ctrlKey && e.which == 83){
			$('#autoSave').click();
			return false;
		}
	});

	//每隔一段时间保存草稿
	function autoSaveDraft(){
		interval = setInterval(function(){
			//只有基础信息填写了，才会触发
			var title = $('input[name=title]').val();
			var name = $('input[name=name]').val();
			var des = $('textarea[name=description]').val();
			if(title != '' || name != '' || des != ''){
				$('#autoSave').click();
			}
		}, 1000*parseInt({:C('DRAFT_AOTOSAVE_INTERVAL')}));
	}
	autoSaveDraft();

	</if>

});
</script>
</block>
